XSD/cinemas.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2018 (https://www.liquid-technologies.com)-->
<schema xmlns:tns="http://www.abc.com/Cinemas" elementFormDefault="qualified" targetNamespace="http://www.abc.com/Cinemas" xmlns="http://www.w3.org/2001/XMLSchema">

        <complexType name="Cinema">
            <sequence>
                <element name="cid" type="string" minOccurs="1" />
                <element name="name" type="string" minOccurs="1" />
                <element name="price" type="float" minOccurs="1" />
            </sequence>
        </complexType>
        <element name="Cinema" type="tns:Cinema" />
        <complexType name="Cinemas">
            <sequence>
                <element ref="tns:Cinema" minOccurs="1" maxOccurs="unbounded" />
            </sequence>
        </complexType>
        <element name="Cinemas" type="tns:Cinemas" />
    
</schema>