XSD/discount_showtime.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Studio 2018 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="discount_showtime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="discount_time">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="discount" type="xs:float" />
              <xs:element minOccurs="0" name="time_from" type="xs:time" />
              <xs:element minOccurs="0" name="time_to" type="xs:time" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>