XSD/discount_showtime.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2018 (https://www.liquid-technologies.com)-->
<schema xmlns:tns="http://www.abc.com/discount_showtime" elementFormDefault="qualified" targetNamespace="http://www.abc.com/discount_showtime" xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="discount_showtime">
        <complexType>
            <sequence>
                <element name="discount_time" minOccurs="0">
                    <complexType>
                        <sequence>
                            <element name="discount" type="float" minOccurs="0" />
                            <element name="time_from" type="time" minOccurs="0" />
                            <element name="time_to" type="time" minOccurs="0" />
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>