XSD/movies.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2018 (https://www.liquid-technologies.com)-->
<schema xmlns:tns="http://www.abc.com/Movies" elementFormDefault="qualified" targetNamespace="http://www.abc.com/Movies" xmlns="http://www.w3.org/2001/XMLSchema">

        <complexType name="Movie">
            <sequence>
                <element name="title" type="string" minOccurs="1" />
                <element name="mid" type="string" minOccurs="1" />
                <element name="availability" type="integer" minOccurs="1" />
                <element name="rating" type="string" minOccurs="1" />
                <element name="synopsis" type="string" minOccurs="1" />
                <element name="language" type="string" minOccurs="1" />
                <element name="runtime" type="integer" minOccurs="1" />
                <element name="img" type="string" minOccurs="1" />
            </sequence>
        </complexType>
        <element name="Movie" type="tns:Movie" />
        <complexType name="Movies">
            <sequence>
                <element ref="tns:Movie" minOccurs="1" maxOccurs="unbounded" />
            </sequence>
        </complexType>
        <element name="Movies" type="tns:Movies" />
    
</schema>