XSD/reservations.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2018 (https://www.liquid-technologies.com)-->
<schema xmlns:tns="http://www.abc.com/Reservations" elementFormDefault="qualified" targetNamespace="http://www.abc.com/Reservations" xmlns="http://www.w3.org/2001/XMLSchema">

        <complexType name="Reservation">
            <sequence>
                <element name="rid" type="int" minOccurs="1" />
                <element name="uid" type="string" minOccurs="1" />
                <element name="mid" type="string" minOccurs="1" />
                <element name="cid" type="string" minOccurs="1" />
                <element name="showtime" type="time" minOccurs="1" />
                <element name="quantity" type="int" minOccurs="1" />
                <element name="discounted_price" type="float" minOccurs="1" />
                <element name="status" type="int" minOccurs="1" />
            </sequence>
        </complexType>
        <element name="Reservation" type="tns:Reservation" />
        <complexType name="Reservations">
            <sequence>
                <element ref="tns:Reservation" minOccurs="1" maxOccurs="unbounded" />
            </sequence>
        </complexType>
        <element name="Reservations" type="tns:Reservations" />
    
</schema>