XSD/showtimes.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2018 (https://www.liquid-technologies.com)-->
<schema xmlns:tns="http://www.abc.com/Showtimes" elementFormDefault="qualified" targetNamespace="http://www.abc.com/Showtimes" xmlns="http://www.w3.org/2001/XMLSchema">

        <complexType name="Showtime">
            <sequence>
                <element name="sid" type="string" minOccurs="1" />
                <element name="mid" type="string" minOccurs="1" />
                <element name="cid" type="string" minOccurs="1" />
                <element name="discount_id" type="string" minOccurs="1" />
                <element name="time" type="time" minOccurs="1" />
            </sequence>
        </complexType>
        <element name="Showtime" type="tns:Showtime" />
        <complexType name="Showtimes">
            <sequence>
                <element ref="tns:Showtime" minOccurs="1" maxOccurs="unbounded" />
            </sequence>
        </complexType>
        <element name="Showtimes" type="tns:Showtimes" />
    
</schema>